#mdiv {
    width: 25px;
    height: 25px;
    background-color: rgb(216, 211, 211);
    border: 1px solid black;
  }
  
  .mdiv {
    height: 25px;
    width: 2px;
    margin-left: 12px;
    background-color: black;
    transform: rotate(45deg);
    Z-index: 1;
  }
  
  .md {
    height: 25px;
    width: 2px;
    background-color: black;
    transform: rotate(90deg);
    Z-index: 2;
  }

